.mainhome{
    height: 100vh;
}
.row{
    height: 100vh;
}
h1{
    color: #000;
    font-family: Soria;
    font-size: var(--Number-2, 100px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 30%;
    margin-bottom: 0;
}
p{
    color: #000;
    font-family: "Satoshi Variable";
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.left{
    margin-left: 3%;
}

.right{
    position: relative;
    overflow: hidden;
}
img{
    width: 103%;
    z-index: 2;
    position: absolute;
}
.circle{
    border-radius: 1119px;
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(225, 220, 220, 0.4) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(25px);
    position: absolute;
    width: 1119px;
    height: 1119px;
    flex-shrink: 0;
    z-index: 1;
}
.bluecircle{
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    fill: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(0, 56, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    filter: blur(21px);
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: -20px;
}
.redcircle{
    width: 237px;
    height: 237px;
    flex-shrink: 0;
    fill: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 0, 0, 0.40) 100%);
    filter: blur(21px);
    position: absolute;
    top: 5px;
    right: 2px;
}


/* mobile screen */
@media only screen and (max-width: 600px){
    .row{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: var(--Number-2, 4rem);
    }
    p{
        font-size: 1.1rem;
    }
    .left{
        width: 95%;
        padding-top: 22.5%;
        height: 45%;
    }
    .right{
        width: 100%;
        top: 150px;
        margin-top: 50px;
        position: relative;
    }
    .circle{
        margin-left: 200px;
        width: 500px;
        height: 500px;
        bottom: -150px;
    }
    .bluecircle{
        width: 100px;
        height: 100px;
        bottom: 20px;
        left: 0px;
        display: none;
    }
    .redcircle{
        width: 100px;
        height: 100px;
        top: 0px;
        left: 50%;
    }
    .profileimage{
        left: 100px;
        bottom: 0px;
    }
}