.viewhome{
    height: 120vh;
    background-color: white;
    overflow: hidden;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
h1 {
    color: #000;
    font-family: Soria;
    font-size: var(--Number-2, 100px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 30%;
    margin-bottom: 0;
}
p {
    color: #000;
    font-family: "Satoshi Variable";
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.right{
    position: relative;
    background-color: white;
}
.me{
    position: absolute;
    z-index: 1;
}
.about{
    position: relative;
    z-index: 2;
}
/* shapes */
.line {
    width: 100%;
    max-width: 800px;
    height: 8px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    background-color: rgb(0, 0, 0);
}
.circle {
    border-radius: 1119px;
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(225, 220, 220, 0.4) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(25px);
    position: absolute;
    width: 1119px;
    height: 1119px;
    flex-shrink: 0;
    z-index: 0;
}
/* Tablet,lap portrait */
@media only screen and (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
    .row{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: var(--Number-2, 4.27rem);
    }
    p {
        font-size: 0.9rem;
    }
    .circle {
        width: 500px;
        height: 500px;
    }
}

/* Tablet,lap landscape */
@media only screen and (max-height: 900px)  and (min-height: 400px) and (orientation: landscape) {
    h1 {
        font-size: var(--Number-2, 7rem);
    }
    p {
        font-size: 1.15rem;
    }
    .circle {
        width: 700px;
        height: 700px;
        top: 300px;
        left: 200px;
    }
    .me{
        left: 250px;
        top: 300px;
    }
}

/* Mobile portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
    .viewhome{
        height: 110vh;
    }
    h1 {
        font-size: var(--Number-2, 4.125rem);
    }
    p {
        font-size: 1.015rem;
    }
    .circle {
        width: 500px;
        height: 500px;
        left: 200px;
        top: 200px;
    }
    .me{
        left: 120px;
        top: 320px;
    }
}

/* Mobile portrait */
@media only screen and (max-height: 400px) and (orientation: landscape) {
    .viewhome{
        height: 125vh;
    }
    h1 {
        font-size: var(--Number-2, 4rem);
    }
    p {
        font-size: 1.125rem;
    }
    .circle {
        width: 400px;
        height: 400px;
        top: 200px;
        left: 200px;
    }
    .me{
        left: 100px;
        top: 100px;
    }
}

/* darktheme */
@media (prefers-color-scheme: dark) {
    .viewhome{
        background-color: #121212;
    }
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
    }
    .right{
        background-color: #121212;
    }
    .line {
        background-color: rgb(255, 255, 255);
    }
    .circle {
        background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(225, 220, 220, 0.4) 0%, rgba(255, 255, 255, 0.00) 100%);
    }
    .me{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
    }
}