/* Desktop screens */

.title{
    color: #000;
    font-family: Soria;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 !important;
}
.links{
    color: #000;
    font-family: "Satoshi Variable";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* darktheme */
@media (prefers-color-scheme: dark){
    .dark-theme .title{
        color: #ffffff;
    }
    .dark-theme .title:hover{
        color: #848181;
    }
    .dark-theme .links{
        color: #ffffff;
    }
    .dark-theme .links:hover {
        color: #848181; 
      }
    .dark-theme .togglebtn{
        background-color: #ffffff;
    }
    .dark-theme .navbar{
        background-color: #000;
    }
}