html,body{
  overflow: hidden;
}
h1{
  font-family: "Soria";
}
p{
  font-family: "Satoshi Variable";
}
body {
    background-color: #ffffff;
    color: #000000;
  }
  @media (prefers-color-scheme: dark) {
    body.dark-theme {
      background-color: #121212;
      color: #ffffff;
    }
  }

